<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todo_list_detail.name}}</h1>
            <p>
                <a href="{% url "edit_todo" todo_list_detail.id%}">Edit</a>
            </p>
            <p>
                <a href="{% url "delete_todo" todo_list_detail.id%}">Delete</a>
            </p>
            <h2>Tasks</h2>
        </div>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {%for tododetail in todo_list_detail.items.all %}
                    <tr>
                        <td>
                            <a href="{% url "edit_todoitem" tododetail.id %}">{{tododetail.task}}</a>
                        </td>
                        <td>{{tododetail.due_date}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>


</body>
</html>
